html {
	background: url('/background.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #EEE;
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box; 
}
body {
	margin: 0;
	background:#181a1bA0;
	font-family: sans-serif;
}

.back-to-top {
	z-index: 20;
	position: fixed;
	display: none; /*Hide button by default. Button uses JS, so JS will reveal it if it's working)*/
	cursor: pointer;
	background: blue;
	bottom: 10px;
	right: 10px;
	border: 2px outset #EEE;
	padding: 8px;
	border-radius: 32px;
}

.back-to-top:hover {
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100% {
		transform: translate(0, 0px;)
	}
	50% {
		transform: translate(0, -5px)
	}
}

.flex-container {
	background: #000F0FA0;
	display: flex;
	flex-direction: column;

}

.main-content {
	padding: 1%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
	width: 100%;
	flex-direction:row;
	background: linear-gradient(#444, #111);
	border-bottom: 2px solid #EEE;
	padding: 6px;
	height: 5vh;
}

.header, .flex-container {
  flex-wrap: wrap;
}

.header-img {
	border-radius: 10px;
	border: 2px outset #EEE;
}

a {
	color: #fff9
}

a:hover{
	color: #ffaa33
}
